a {
    text-decoration: none;
}

a:hover {
    text-size: 1.2em;
}

body {
  padding: 0;
  margin: 0;
  /*background-color: #1E1E24;*/
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSLy8jhgnh94B3iUYelrgO8gya6lzXLkeBPYNAWdG-uiKriW5go6Q");
  background-attachment: fixed;
  text-align: center;
}

.container {
  position: relative;
  min-width: 600px;
  overflow: hidden;
}

#menubar {
    z-index: 1;
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: black;
}

#menubar ul li {
    padding: 5em;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-weight: 80;
    font-size: 1em;
    text-transform: uppercase;
}

li a {
    text-decoration: none;
    color: white;
}

#main {
    background-image: url("http://cdn.minneapolis.org/CMS/25/minneapolis_at_night__hero.png");
    width:100%
    height: 80%;
    background-position: center;
}


#main h1 {
    color: #FFF;
    font-family: 'Ruda', sans-serif;
    font-size: 5em;
    font-weight: 1em;
    padding-top: 3em;
    padding-bottom: 2em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

#spacer {
    height: 20%;
    width: 100%;
    background-color: black;
    margin-bottom: 1em;
}

#education {
    background-color: rgba(107, 107, 107, .5);
    margin-bottom: 1em;
    position: relative;
}

#education h2 {
    text-align:left;
    padding-left: 2em;
}

#education img {
    display: inline-block;
    float: left;
    height: 20%;
    padding: .2em;
}

#education ul {
    border: 5px solid black;
    border-radius: 15px;
    width: 25%;
    margin: 2em 5em 5em 50em;
}

#education ul li {
    list-style: none;
    font-size: 1.25em;
    padding-right: 2em;
    font-family: cursive;
}

#experience {
    background-color: rgba(107, 107, 107, .5);
    list-style: none;
    margin-bottom: 1em;
}

#experience h2 {
    text-align: left;
    padding-left: 2em;
}

#experience li {
    list-style: none;
}

#express {
    border: 5px solid black;
    width: 30%;
    display: inline-block;
    position: relative;
    float: left;
    background: white;
    margin: .5em;
    text-align: left;
    padding: .2em;
}

#csom {
    border: 5px solid black;
    width: 30%;
    display: inline-block;
    margin: .5em;
    background: white;
    text-align: left;
    padding: .2em;
}

#cac {
    border: 5px solid black;
    width: 30%;
    display: inline-block;
    position: relative;
    float: right;
    margin: .5em;
    background: white;
    text-align: left;
    padding: .2em;
}

#contact {
    background-color: white;
    height: 60%;
}

#contact h2 {
    text-align: left;
    padding-left: 2em;
}

#contact li {
    list-style: none;
}
